{% extends 'home2.html' %}

{% block content %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="margin-left: 10px;">
                                    <div class="table-responsive m-b-40">
                                        <form>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3">TimeZone</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>TimeZone Name <br><input type="text" name="" value="Timezone Name"></td>
                                                        <td>From <br><input type="text" name="" maxlength="15" size="10"></td>
                                                        <td>To <br> <input type="text" name="" maxlength="15" size="10"></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3"><div class="check-left">
                                                            <input type="checkbox" name=""> Sunday <br>
                                                            <input type="checkbox" name=""> Monday <br>
                                                            <input type="checkbox" name=""> Tuesday
                                                        </div>

                                                        <div class="check-center">
                                                            <input type="checkbox" name=""> Wednesday <br>
                                                            <input type="checkbox" name=""> Thursday  <br>
                                                            <input type="checkbox" name=""> Friday
                                                        </div>

                                                        <div class="check-right">
                                                            <input type="checkbox" name=""> Saturday <br>
                                                            <input type="checkbox" name=""> Holiday  <br>
                                                            <input type="checkbox" name=""> Anit Pass Book
                                                        </div>

                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>Verification Mode<br><select>
                                                                      <option value="mode">Verification Mode</option>
                                                                                  <option value="Mode1">Mode1</option>
                                                                                  <option value="Mode2">Mode2</option>
                                                                                  <option value="Mode3">Mode3</option>
                                                                                </select></td>
                                                        <td>TimeZone ID <br><select>
                                                                      <option value="Timezone">TimeZone</option>
                                                                                  <option value="zone1">zone1</option>
                                                                                  <option value="zone2">zone2</option>
                                                                                  <option value="zone3">zone3</option>
                                                                                </select></td>
                                                        <td>Validity <br><div class="date-picker">
                                                                            <div class="selected-date"></div>

                                                                            <div class="dates">
                                                                                <div class="month">
                                                                                    <div class="arrows prev-mth">&lt;</div>
                                                                                    <div class="mth"></div>
                                                                                    <div class="arrows next-mth">&gt;</div>
                                                                                </div>

                                                                                <div class="days"></div>
                                                                            </div>
                                                                        </div>
                                                        </td>
                                                    </tr>



                                                    <tr align="center">
                                                        <td colspan="3" >
                                                            <input type="submit" name="submit" value="Add" class="button85">
                                                            <input type="submit" name="submit" value="Modify" class="button85">
                                                            <input type="submit" name="submit" value="Save" class="button85">
                                                            <input type="submit" name="submit" value="Delect" class="button85">
                                                            <input type="submit" name="submit" value="Cancel" class="button85"><br><br><br>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr>
                                                        <th>Sl.</th>
                                                        <th>Name</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Su</th>
                                                        <th>Mo</th>
                                                        <th>Tu</th>
                                                        <th>We</th>
                                                        <th>Th</th>
                                                        <th>Fr</th>
                                                        <th>Sa</th>
                                                        <th>Ho</th>
                                                        <th>APB</th>
                                                        <th>Validity</th>
                                                        <th>RecID</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <div class="table-responsive m-b-40">
                                        <table class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>date</th>
                                                    <th>type</th>
                                                    <th>description</th>
                                                    <th>status</th>
                                                    <th>price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2018-09-29 05:57</td>
                                                    <td>Mobile</td>
                                                    <td>iPhone X 64Gb Grey</td>
                                                    <td class="process">Processed</td>
                                                    <td>$999.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-28 01:22</td>
                                                    <td>Mobile</td>
                                                    <td>Samsung S8 Black</td>
                                                    <td class="process">Processed</td>
                                                    <td>$756.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-27 02:12</td>
                                                    <td>Game</td>
                                                    <td>Game Console Controller</td>
                                                    <td class="denied">Denied</td>
                                                    <td>$22.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-26 23:06</td>
                                                    <td>Mobile</td>
                                                    <td>iPhone X 256Gb Black</td>
                                                    <td class="denied">Denied</td>
                                                    <td>$1199.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-25 19:03</td>
                                                    <td>Accessories</td>
                                                    <td>USB 3.0 Cable</td>
                                                    <td class="process">Processed</td>
                                                    <td>$10.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-29 05:57</td>
                                                    <td>Accesories</td>
                                                    <td>Smartwatch 4.0 LTE Wifi</td>
                                                    <td class="denied">Denied</td>
                                                    <td>$199.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-24 19:10</td>
                                                    <td>Camera</td>
                                                    <td>Camera C430W 4k</td>
                                                    <td class="process">Processed</td>
                                                    <td>$699.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-22 00:43</td>
                                                    <td>Computer</td>
                                                    <td>Macbook Pro Retina 2017</td>
                                                    <td class="process">Processed</td>
                                                    <td>$10.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
