* {
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  height: 100vh;
  background: #1c2431;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box {
  position: relative;
  background: #ff005c;
  width: 200px;
  height: 200px;
}
