{% extends 'layout.html' %}
{% block content %}

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content">
                  <div class="card text-center ml-3 bg-dark">
                      <h4 class="card-body text-light">MS SQL</h4>
                  </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <div class="table-responsive m-b-40">
                                        <form>
                                            <table class="table table-borderless table-data3">
                                                <thead>
                                                    <tr align="center">
                                                        <th>SendData</th>
                                                        <th>Server IP</th>
                                                        <th>Server Instance Name</th>
                                                        <th>Server Port</th>
                                                        <th>User ID</th>
                                                        <th>Password</th>
                                                        <th>Database</th>
                                                        <th>Table</th>
                                                    </tr>
                                                </thead>
                                                <tbody align="center">
                                                    <tr>
                                                        <td><input type="checkbox" id="chksend1"></td>
                                                        <td><input type="text" id="txtsend1" ></td>
                                                        <td><input type="text" id="txtsend1"></td>
                                                        <td><input type="text" id="txtsend1"></td>
                                                        <td><input type="text" id="txtsend1"></td>
                                                        <td><input type="text" id="txtsend1"></td>
                                                        <td><input type="text" id="txtsend1"></td>
                                                        <td><input type="text" id="txtsend1"></td>

                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>


                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="checkbox" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                        <td><input type="text" name=""></td>
                                                    </tr>

                                                    <tr align="center">
                                                      <td colspan="8" >
                                                        <input type="submit" name="submit" value="SAVE" class="btn btn-outline-secondary btn-block text-center">
                                                      </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </form>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <div class="table-responsive m-b-40">
                                        <table class="table table-borderless table-data3">
                                            <thead>
                                                <tr>
                                                    <th>date</th>
                                                    <th>type</th>
                                                    <th>description</th>
                                                    <th>status</th>
                                                    <th>price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>2018-09-29 05:57</td>
                                                    <td>Mobile</td>
                                                    <td>iPhone X 64Gb Grey</td>
                                                    <td class="process">Processed</td>
                                                    <td>$999.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-28 01:22</td>
                                                    <td>Mobile</td>
                                                    <td>Samsung S8 Black</td>
                                                    <td class="process">Processed</td>
                                                    <td>$756.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-27 02:12</td>
                                                    <td>Game</td>
                                                    <td>Game Console Controller</td>
                                                    <td class="denied">Denied</td>
                                                    <td>$22.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-26 23:06</td>
                                                    <td>Mobile</td>
                                                    <td>iPhone X 256Gb Black</td>
                                                    <td class="denied">Denied</td>
                                                    <td>$1199.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-25 19:03</td>
                                                    <td>Accessories</td>
                                                    <td>USB 3.0 Cable</td>
                                                    <td class="process">Processed</td>
                                                    <td>$10.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-29 05:57</td>
                                                    <td>Accesories</td>
                                                    <td>Smartwatch 4.0 LTE Wifi</td>
                                                    <td class="denied">Denied</td>
                                                    <td>$199.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-24 19:10</td>
                                                    <td>Camera</td>
                                                    <td>Camera C430W 4k</td>
                                                    <td class="process">Processed</td>
                                                    <td>$699.00</td>
                                                </tr>
                                                <tr>
                                                    <td>2018-09-22 00:43</td>
                                                    <td>Computer</td>
                                                    <td>Macbook Pro Retina 2017</td>
                                                    <td class="process">Processed</td>
                                                    <td>$10.00</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
