<!DOCTYPE html>
<html>
<head>
    <title>tables</title>
</head>
<body>
<table>
                                            <thead>
                                                <tr >
                                                    <td rowspan="2" text-align="center">LAN</td>                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>IP Address</td>
                                                    <td><input type="text" name="ipadd"  required/></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>Subnet Mask</td>
                                                    <td><input type="text" name="subnet" required/></td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>Gateway</td>
                                                    <td><input type="text" name="gateway" required/></td>                                                    
                                                </tr>
                                                <tr>
                                                    <td><input type="submit" name="submit" value="Submit"></td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
</body>
</html>