{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicons -->
	<link href="{% static 'images/favicon.ico' %}" rel="icon">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animsition/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main3.css' %}">
<!--===============================================================================================-->
<title>Change Password</title>
</head>
<body>
	<!-- style="background-image: url('images/back.jpg');" -->
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

				<span class="login100-form-title p-b-10 p-t-10">
					<a href="{% url 'change_password' %}"><h2 class="text-light">NxMD4W</h2></a>
					<br>
						<h4>Next Generation 4 Door IoT Controller</h4>
					</span>

					<span class="login100-form-title p-b-10 p-t-10">
						Change Password
					</span>

				<form class="login100-form validate-form" method="POST">
					<div class="form-group">

					{% csrf_token %}
			      {% if form.errors %}
			        <div class="alert alert-warning alert-dismissible fade show" role="alert">
			          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			            <span aria-hidden="true">&times;</span>
			          </button>
			          <p>Your Form Has Errors...</p>
			          {% for field in form %}
			            {% if field.errors %}
			              {{ field.errors }}
			            {% endif %}
			          {% endfor %}

			      {% endif %}

			      <!-- {{ form.as_p }} -->
						</div>
								<div class="wrap-input100 validate-input" data-validate = "Enter username">
									<input class="input100" type="password" name="password" placeholder="Old password">
									<span class="focus-input100" data-placeholder="&#xf207;"></span>
								</div>

								<div class="wrap-input100 validate-input" data-validate = "Enter username">
									<input class="input100" type="password" name="password1" placeholder="New password">
									<span class="focus-input100" data-placeholder="&#xf207;"></span>
								</div>

								<div class="wrap-input100 validate-input" data-validate = "Enter username">
									<input class="input100" type="password" name="password2" placeholder="Confirm password">
									<span class="focus-input100" data-placeholder="&#xf207;"></span>
								</div>

          <br>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Change Password
						</button>
					</div>
				</div>
				</form>

			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
